.search-field{
    text-align: center;
    margin-top: 40px;
}
.input-search{
    height: 35px;
    width: 500px;
    border: 1px solid grey;
}
.search-button{
    padding: 10px;
    background-color: rgb(0, 102, 255);
    border: 1px solid rgb(0, 102, 255);
    color: white;
    font-size: 17px;
    cursor: pointer;
}
::placeholder{
    font-size: 20px;
    
}