.header-container{
    display: flex;
    margin-left: 40px;
}
.website-title h1{
    font-size: 40px;
    color: purple;
    font-family: 'Bebas Neue', cursive;
}
.website-title{
    margin-left: 140px;
}
nav a{
    margin-right: 15px;
    text-decoration: none;
    color: purple;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Bebas Neue', cursive;
}
nav a:hover{
    color: rgb(0, 174, 255);
}
nav{
    position: relative;
    left: 140%;
    top: 30px;
}
.login-button{
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
