.form-container{
    text-align: center;
    margin-top: 80px;
    background-color: rgb(160, 235, 235);
    height: 400px;
    width: 460px;
    margin-left: 440px;
    border-radius: 10px;
}
.form-container h1{
    color: purple;
    position: relative;
    top: 30px;
}
.input-area{
    height: 30px;
    width: 350px;
    margin-top: 10px;
    border: none;
     
}
.submit{
    padding: 3px;
    width: 300px;
    height: 30px;
    margin-top: 60px;
    background-color: rgb(238, 3, 140);
    color: aliceblue;
    font-size: 18px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.form-input{
    margin-top: 70px;
}

.alt-login{
    text-align: center;
    margin-top: 20px;
}
.google-login{
    height: 30px;
    width: 400px;
    border: 1px solid gray;
    border-radius: 30px;
    font-size: 18px;
}
.facebook-login{
    height: 30px;
    width: 400px;
    border: 1px solid gray;
    border-radius: 30px;
    font-size: 18px;
    margin-top: 15px;
}
h4{
    margin-top: -15px;
}